# mac
.DS_Store

# debug symbols
*.dSYM/

# vscode
.vscode/

# CMake compiled folder
cmake-build/
CMakeCache.txt
CMakeFiles/

# files without suffix
*
!*.cpp
!*.h
!*.hpp
!*.txt
!*.md
!*.sh
!*/
!*.gitignore

[Bb][Uu][Ii][Ll][Dd]/
